.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 70%;
}

.menu h1 {
  font-family: 'Pacifico', cursive;
  border-bottom: 2px dotted gray;
  text-align: center;
  width: 70%;
}

.menu li {
  text-align: center;
  list-style: none;
  padding: 5px;
  font-size: 20px;
}